<?xml version="1.0"?>
<connectionStrings>
  <add name="ArtistEntities" connectionString="metadata=res://*/Model.ArtistModel.csdl|res://*/Model.ArtistModel.ssdl|res://*/Model.ArtistModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.3.106;initial catalog=nat;persist security info=True;user id=sa;password=$adm1n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ServiceAccount" connectionString="data source=172.20.3.106;initial catalog=nat;persist security info=True;user id=sa;password=$adm1n;MultipleActiveResultSets=True;" />
  <!--<add name="TMXPLEntities" connectionString="metadata=res://*/EFModel.TMXPLModel.csdl|res://*/EFModel.TMXPLModel.ssdl|res://*/EFModel.TMXPLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tmx-build.database.windows.net;initial catalog=sd-qa;persist security info=True;user id=tmxsdqauser;password=LmYh9kxm9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="TMXPLEntities" connectionString="metadata=res://*/EFModel.TMXPLModel.csdl|res://*/EFModel.TMXPLModel.ssdl|res://*/EFModel.TMXPLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tmx-build.database.windows.net;initial catalog=sd-uat;persist security info=True;user id=sduatuser;password=HSd7jp4X9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>
