<?xml version="1.0"?>
<connectionStrings>
  <add name="CustomerEntities" connectionString="metadata=res://*/EFModel.CustomerModel.csdl|res://*/EFModel.CustomerModel.ssdl|res://*/EFModel.CustomerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=techlogix.database.windows.net;initial catalog=nat-dev;persist security info=True;user id=natqauser;password=P@1ntc3pt10N;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ServiceAccount" connectionString="data source=techlogix.database.windows.net;initial catalog=nat-dev;persist security info=True;user id=natqauser;password=P@1ntc3pt10N;MultipleActiveResultSets=True;" />
  <!--<add name="TMXPLEntities" connectionString="metadata=res://*/EFModel.TMXPLModel.csdl|res://*/EFModel.TMXPLModel.ssdl|res://*/EFModel.TMXPLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tmx-build.database.windows.net;initial catalog=sd-qa;persist security info=True;user id=tmxsdqauser;password=LmYh9kxm9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="TMXPLEntities" connectionString="metadata=res://*/EFModel.TMXPLModel.csdl|res://*/EFModel.TMXPLModel.ssdl|res://*/EFModel.TMXPLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tmx-build.database.windows.net;initial catalog=sd-uat;persist security info=True;user id=sduatuser;password=HSd7jp4X9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>
